<h4>Registrations for NSA-MUN </h4>
<table class='paleBlueRows' style="border: 5px; ">
  <tr>
      <td>Id</td>
      <td>studentName</td>
      <td>studentAge</td>
      <td>studentContactNumber</td>
      <td>emailAddress</td>
      <td>Collage</td>
      <td>committee</td>
      <td>Venue</td>
      <td>paymentStatus</td>
  </tr>
  {%for user in users%}
  <tr>
      <td>{{user.N_id}}</td>
      <td>{{user.N_studentName}}</td> 
      <td>{{user.N_studentAge}}</td>
      <td>{{user.N_studentContactNumber}}</td>
      <td>{{user.N_emailAddress}}</td>
      <td>{{user.N_studentcollage}}</td>
      <td>{{user.N_studentcommittee}}</td>
      <td>{{user.N_studentplace}}</td> 
      <td>{{user.N_paymentStatus}}</td>
  </tr>
  {%endfor%}
</table>